
vscode_ext/node_modules
vscode_ext/.vscode
vscode_ext/out
vscode_ext/media/*.png
!vscode_ext/media/tokenika.png
vscode_ext/test.html
vscode_ext/test1.html
webview-sample/node_modules/
vscode_ext/recent.json
.build

node_modules
package-lock.json
*.vsix
out

docs/build/doctrees
!docs/build/html
recent.json

# Compiled python modules.
*.pyc

# Setuptools distribution folder.
/dist/
docs/_build
