.build
node_modules
package-lock.json
*.vsix
out

docs/build/doctrees
!docs/build/html
recent.json

**$py.class
*.class
movies

ipch

docs/_static/dist
docs/_static/dist
docs/_static/five_minutes.mp4
docs/_static/installing.mp4
docs/_static/faq.mp4
node_modules
package-lock.json
docs/_static/faq.mp4
sikuli_movies/narration.md

.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/tasks.json
sikuli_movies/sikuli_lib
