body {
  background-color: white;
  margin-left: 100px;
  font-size: 100%;
  }

h1 {
color: maroon
}
pre {
  background-color: azure;
}
code {
  background-color: azure;
  color: black
}

@media (min-width:600px){.container{width:600px}}